<div class="about-main">
  <div class="about-main-title">
    About
  </div>
  <div class="about-main-text">
    ながのCAKEは全国へ発送可能なケーキ屋さんです。<br>
    お子様からお年寄りの方までお召し上がりいただけるよう、<br>
    様々なバリエーションをご用意しております。<br>
    また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
    ぜひご注文ください。<br>
  </div>
  <div class="about-main-img"></div>
</div>

<footer>
</footer>